.orders {
  padding: 20px 80px;
  & > h1 {
    margin:30px 0;
  }
  .orderItem {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: #fff;
    position: relative;
    width: 100%;
    .order__id {
      position: absolute;
      top: 40px;
      right: 20px;
    }
    .order__total {
      font-family: 500;
      text-align: right;
    }
  }
}

@media (max-width:650px){
  .orders {
    padding: 10px 10px;
    & > h1 {
      margin:30px 0;
    }

    .orderItem{
      width: 100%;
      padding: 10px;
    }
  }
}
